:host {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 2rem;
}

h1 {
  font-size: 200%;
  font-weight: 700;
  margin-bottom: 2rem;
}

img {
  margin-right: 0.5rem;
  width: 10%;
}

h5 {
  margin-top: 1rem;
  font-size: 100%;
  font-weight: 500;
}
