<mat-card>
  <div *ngIf="isSignup">
    <h3>Create Account</h3>

    <button mat-stroked-button (click)="changeType('login')">
      Already have account?
    </button>
  </div>

  <div *ngIf="isLogin">
    <h3>Sign In</h3>
    <button size="small" mat-stroked-button (click)="changeType('signup')">
      New user?
    </button>
  </div>

  <div *ngIf="isPasswordReset">
    <h3>Reset Password</h3>
    <button size="small" mat-button (click)="changeType('login')">Back</button>
  </div>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div>
      <mat-form-field [color]="email?.valid && 'accent'">
        <mat-label>Email</mat-label>
        <input
          matInput
          type="email"
          formControlName="email"
          autocomplete="off"
        />
        <mat-error *ngIf="email?.invalid && email?.dirty">
          You must enter a valid email address</mat-error
        >
      </mat-form-field>
    </div>

    <div *ngIf="!isPasswordReset">
      <mat-form-field [color]="password?.valid && 'accent'">
        <mat-label>Password</mat-label>
        <input
          matInput
          formControlName="password"
          type="password"
          autocomplete="off"
        />

        <mat-error *ngIf="password?.invalid && password?.dirty">
          Password must be at least 6 characters.
        </mat-error>
      </mat-form-field>
    </div>

    <div *ngIf="isSignup">
      <mat-form-field [color]="!passwordDoesMatch ? 'accent' : 'warn'">
        <mat-label>Password Confirmation</mat-label>
        <input
          matInput
          formControlName="passwordConfirmation"
          type="password"
          autocomplete="off"
        />
        <mat-error *ngIf="passwordConfirmation?.dirty && !passwordDoesMatch">
          Password must be at least 6 characters.
        </mat-error>
      </mat-form-field>
    </div>

    <mat-error class="server-error">{{ serverMsg }}</mat-error>

    <button
      *ngIf="isPasswordReset"
      mat-stroked-button
      type="submit"
      [disabled]="loading"
    >
      Send Reset Email
    </button>

    <button
      *ngIf="!isPasswordReset"
      mat-raised-button
      color="accent"
      type="submit"
      [disabled]="loginForm.invalid || !passwordDoesMatch || loading"
    >
      Submit
    </button>
  </form>

  <button
    mat-button
    *ngIf="isLogin && !isPasswordReset"
    (click)="changeType('reset')"
    style="margin-top: 0.5rem;"
  >
    Forgot password?
  </button>
</mat-card>
